<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <endAnalytics>
        <processor patch:after="processor[@type='Sitecore.Analytics.Pipelines.EndAnalytics.CheckPreconditions, Sitecore.Analytics']" type="Sitecore.Support.Analytics.Pipelines.EndAnalytics.ExcludeUrls, Sitecore.Support.251371">
          <startUrls hint="raw:AddStartUrl">
            <url path="/api/sitecore/" />
            <url path="/api/cxa/" />
          </startUrls>
        </processor>
      </endAnalytics>
    </pipelines>
  </sitecore>
</configuration>